.aboutme {
  background: @dark;
  padding: 3%;
  border-bottom: 5px solid @purple;
  border-top: 5px solid @purple;
  color: @light;
  .container {
    .paragraph {
      max-width: 900px;
      text-align: justify;
      margin: auto;
      padding: 3%;
      font-size: large;
    }
  }
}
