.experience {
  max-width: 100vw;
  background: @light;
  padding: 3%;
  border: 10px solid @purple;
  border-radius: 25px;

  h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
    color: @dark;
  }

  .download {
    padding: 1.5%;
    text-align: center;
    height: fit-content;
    margin: 3%;

    a {
      font-weight: bolder;
      text-decoration: none;
      color: @light;
      background-color: @dark;
      padding: 10px;
      text-shadow: 1px 1px 5px @purple;
      border: 2px solid @purple;
      box-shadow: 2px 2px 3px @purple;
      border-radius: 15px;
    }

    a:hover {
      -webkit-text-stroke: 1px @dark;
      background-color: @purple;
      text-shadow: 1px 1px 5px @dark;
      border: 2px solid @dark;
      box-shadow: 2px 2px 3px @dark;
    }

    a:active {
      box-shadow: inset 2px 2px 3px @dark;
      border: 0;
    }
  }

  .singleJob {
    width: 100%;
    max-width: 900px;
    padding: 2%;
    margin: auto;

    .companyName {
      text-align: left;
      color: @dark;
      font-weight: bolder;
      text-decoration: underline @purple;
      -webkit-text-stroke: 0.5px @purple;
    }

    .date {
      text-align: left;
      font-weight: bolder;
      color: @purple;
    }

    .jobDetails {
      padding: 2.5%;

      h4 {
        text-align: left;
        color: @dark;
      }

      ul {
        text-align: left;
        list-style: none;
      }

      li {
        text-align: left;
        color: @dark;
      }

      ul li::before {
        content: "\2022";
        /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: @purple;
        /* Change the color */
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}