* {
  margin: 0;
  text-align: center;
  font-family: "Source Code Pro";
  font-weight: bold;
  justify-content: center;
}
.container {
  padding: 3%;
  margin: auto;
  max-width: 80%;
  display: block;
}

h1.typewriter {
  padding: 3%;
  font-weight: bolder;
  width: 100%;
}

@media only screen and (max-width: 800px) and (min-width: 401px) {
  .navbar {
    div {
      img {
        max-width: 40px;
        max-height: 40px;
      }
      h1 {
        font-size: x-large;
      }
    }
  }
  .title {
    padding: 4%;
    max-width: 100vw;
    .descriptive {
      .descriptor {
        font-size: medium;
      }
    }
  }
  .aboutme{
    .container{
      .paragraph{
        font-size: medium;
      }
    }
  }
  .experience{
    .singleJob{
      .jobDetails{
        font-size: small;
      }
    }
  }
  .contact {
    .info {
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
      .propertyName {
        min-width: fit-content;
        font-size: small;
      }
      .propertyValue {
        min-width: fit-content;
        font-size: small;
        a {
          font-size: small;
        }
      }
    }
  }
  .svg{
    width: 35px;
    height: 35px;
    margin-left: 0%;
  }
  .hamburger, .navigation-menu.expanded button{
    width:50px;
    height: fit-content;
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    div {
      img {
        max-width: 30px;
        max-height: 30px;
      }
      h1 {
        font-size: medium;
      }
    }
  }
  .title {
    padding: 1%;
    max-width: 100vw;
    .descriptive {
      .descriptor {
        font-size: small;
      }
    }
  }
  .aboutme{
    .container{
      .paragraph{
        font-size: small;
      }
    }
  }
  .experience{
    .singleJob{
      .jobDetails{
        font-size: smaller;
      }
    }
  }
  .contact {
    .info {
      justify-content: space-between;
      flex-wrap: wrap;
      margin: auto;
      .propertyName {
        min-width: fit-content;
        font-size: x-small;
      }
      .propertyValue {
        min-width: fit-content;
        font-size: x-small;
        a {
          font-size: x-small;
        }
      }
    }
  }
  .svg{
    width: 30px;
    height: 30px;
    margin-left: 0%;
  }
  .hamburger, .navigation-menu.expanded button{
    width:50px;
    height: fit-content;
  }
}
