.title {
  background: @dark;
  min-height: 90vh;
  padding: 7.5%;
  border-bottom: 5px solid @purple;
  .logo {
    padding: 3%;
    img {
      width: 70%;
      max-width: 700px;
      animation: ease-in;
      animation-name: spin;
      animation-duration: 5000ms;
      animation-iteration-count: 1;
      animation-timing-function: ease;
    }
  }
  .descriptive {
    color: @light;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    h2 {
      padding: 3%;
      padding-top: 1%;
      padding-bottom: 1%;
      font-size: xx-large;
    }

    .line {
      border-left: 6px solid @purple;
    }
  }
}

@keyframes spin {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(540deg);
  }
}
